<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace="kr.co.finalp">
  	<select id="gallery_selectAll" resultType="gdto" parameterType="se">
  		SELECT galleryno, gallery_category_no, admin_no, gallery_title, gallery_date, gallery_hit
  		FROM (SELECT ROWNUM rn, galleryno, gallery_category_no, admin_no, gallery_title, gallery_date, gallery_hit
  			FROM (SELECT galleryno, gallery_category_no, admin_no, gallery_title, gallery_date, gallery_hit
  					FROM gallery
  					ORDER BY galleryno desc)
  				WHERE ROWNUM &lt;=#{endNo})
  			WHERE RN &gt;=#{startNo}  		
  	</select>
  	
  	<select id="gallery_getTotal" resultType="int">
  		SELECT count(*) total
  		FROM gallery
  	</select>
  	
  	<select id="notice_selectOne" parameterType="int" resultType="ndto">
 		SELECT noticeno, notice_title, notice_contents, to_char(notice_date, 'YYYY/MM/DD HH24:MI') notice_date, notice_hit 
 		FROM notice
 		WHERE noticeno =#{noticeno}
 	</select>
 	
 	<select id="notice_selectAll" parameterType="se" resultType="ndto">
 		SELECT noticeno, notice_title, notice_contents, notice_date, notice_hit
 		FROM ( SELECT ROWNUM rn, noticeno, notice_title, notice_contents, notice_date, notice_hit  
 			FROM( SELECT noticeno, notice_title, notice_contents, to_char(notice_date, 'YYYY/MM/DD') notice_date, notice_hit
 					FROM notice
 					ORDER BY noticeno desc )
 			WHERE ROWNUM &lt;=#{endNo} )
 		WHERE RN &gt;=#{startNo}
 	</select>
 	
 	<select id="notice_getTotal" resultType="int">
 		SELECT COUNT(*) total
 		FROM notice
 	</select>
 	
</mapper>
