@charset "UTF-8";

	*{
		margin: 0;
		padding: 0;
		text-decoration: none;
		margin: 0px auto;
	}

    .container{
    	margin: 0 auto;
        margin-top: 80px;
        width: 1200px;
        height: 950px;
        text-align:center;
    }

    .title{
        display: inline-block;
        border: 1px solid black;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 20px;
        margin-right:885px;
        text-aling:left;
        color:white;
        background-color: black;
    }

    .board{
        border-collapse: collapse;
        width: 1000px;
        height: 800px;
        text-align: center;
        margin-left:100px;
    }

    .nth{
        border-top : 2px solid red;
        border-bottom : 2px solid red;
    }
    
    .ntd{
    	border-bottom: 2px solid #c1c1c1;	
    }
    
    tr:nth-child(11) > td {
    	border-bottom: 2px solid red;	
    }
    
      
    a{
    	text-decoration:none;
    }
    
    .titletext {
    	text-decoration:none;
    	color: inherit;
    }

    tr > td {
        padding: 10px;
    }
    
    .pagebutton{
    	display:flex;
    	justify-content:center;
    	margin-top: 25px;
    }
    
    .pageul,.pageul>li{
     	list-style:none;
     	float:left;
    }
    
    .pageul>li>a{
    	font-size:15px;
    	padding:10px;
    	border: 1px solid gray;
    	margin:5px;
    	border-radius: 5px;
    }
    
    .pageul>li>a:hover{
    	background-color: red;
    	 color:white;
    	
    }
    